
footer{
    background-color: black;
    margin-top: 2rem;
}
.ordenar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.contacto {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.copy {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: white;

}
.redes {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
