.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 3rem 0rem;
    height: 600px;
}

.flex img {
    width: 15rem;
    height: auto;
}

.flex h4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.card2 {
    background-color:rgb(211, 208, 208);
}

.boton {
    text-decoration: none;
    color: black;
    background-color: gray;
    border-radius: 10px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 10px;
}


.flex a {
    color: black;
}

.flex a :hover {
    color:black;
}

.botonVolver {
    text-decoration: none;
    color: black;
    background-color: gray;
    border-radius: 10px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    margin: 2rem 2rem;
    padding: 10px;

}

.gral a:hover {
    color: black;
}

.gral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cardRender {
    height: 100%;
    margin: 30px;
    background-color: rgb(211, 208, 208);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.cardRender h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cardRender p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cardRender h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}