.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 3rem 0rem;
   
}

.flex img {
    width: 15rem;
    height: auto;
}

.flex h4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.card2 {
    background-color:rgb(211, 208, 208);
    margin-bottom: 30px;
}

.boton {
    text-decoration: none;
    color: black;
    background-color: #60b9bb;
    border-radius: 10px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 10px 0px;

}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.flex a {
    color: black;
}

.flex a :hover {
    color:black;
}

.botonVolver {
    text-decoration: none;
    color: white;
    background-color: #000000d1;
    border-radius: 10px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    margin: 2rem 2rem;
    padding: 10px;

}

.gral a:hover {
    color: black;
}

.gral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cardRender {
    height: 100%;
    margin: 30px;
    background-color: rgb(211, 208, 208);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.cardRender h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cardRender p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cardRender h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.alLado {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alLado button {
    width: 2.5rem;
    margin: 1rem;
    border: 0.5px solid black;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
}

.formato {
    display: inline-block;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 2rem;
    text-align: center;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.estiloTitulo {

    background-color: #ffffff8f;
    text-align: center;
}

.estiloTituloDos {

    background-color: #eed1d1d3;
    text-align: center;
}

.estiloItems {
    font-size: 1.5rem;
    font-weight: 700;
}

.estiloItemsDos {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px;
}

.iconos {    
   border-radius: 5px;
   background-color: black;
   color: white;
   width: 10rem;
   font-size: 1.2rem;
   text-align: center;
}

.iconos2 {    
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    text-align: center;

 }
.acomodarBoton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.fuente {
    font-family: 'Quicksand', sans-serif;
}

.eliminar {
    color: rgb(224, 24, 24, 1);
    padding:5px;
    text-align: center;
}

.continuar {
    color: rgb(34, 41, 253, 1);
    padding:5px;
}

.finalizar {
    color: rgb(14, 197, 37);
    padding: 5px;
}

.editar {
    background-color: rgb(14, 197, 37);
}

.tituloCompra {
    background-color: #ffffff8f;
    text-align:center;
     font-size:2rem; 
    font-weight:700;
}

.empezaComprar {
    margin-top:4rem;
    font-size:1.5rem;
    background-color:#c5a2b3;
}
