.estiloMenu li a{
    text-decoration: none;
    font-size:25px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.estiloMenu li {
    list-style: none;
    padding: 7px 10px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.estiloMenu{
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background-color: black; 

}

.cartIco {
    width: 30px;

}